

/* dynamic table css starts from here */


._table {
    width:97%;
    margin-left: 15px;
    border-collapse: collapse;
   }

._table :is(th, td) 
{   
    border: 1px solid #ced4da;
    padding: 8px 10px;
    }

/* form field design start */
.form_control {
    font-size: 12px;
    border: 1px solid #ced4da;
    background-color: transparent;
    outline: none;
    padding: 8px 12px;
    width: 100%;
    color: #444444;
    transition: 0.3s ease-in-out;
  }

.form_control::placeholder {
    color: inherit;
    opacity: 0.5;
}
.form_control:is(:focus, :hover) {
    box-shadow: inset 0 1px 6px #0002;
}
/* form field design end */
.success {
    background-color: #0d6efd !important;
}
.warning {
    background-color: #ebba33 !important;
}
.primary {
    background-color: #259dff !important;
}
.secondery {
    background-color: #00bcd4 !important;
}
.danger {
    background-color: #0d6efd !important;
}
.action_container {
    display: inline-flex;
}
.action_container>* {
    border: none;
    outline: none;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.action_container>*+* {
    border-left: 1px solid #fff5;
}

.action_container>*:active {
    transition: unset;
    transform: scale(.95);
}

/* dynamic table css ends from here */


