<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Placement Portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 
<link th:href="@{/img/favicon.png}" rel="icon">
<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">
	
	 <!--dynamic table link-->
	<link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />

<!-- Vendor CSS Files -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
	rel="stylesheet">
<link th:href="@{/vendor/boxicons/css/boxicons.min.css}"
	rel="stylesheet">
<link th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
<link th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
<link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
<link th:href="@{/vendor/simple-datatables/style.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Template Main CSS File -->
<link th:href="@{/css/style.css}" rel="stylesheet">

<!-- Fontawesome CDN Link -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<!-- Iconscout Link For Icons -->
<link rel="stylesheet"
	href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
     <i class="bi bi-list toggle-sidebar-btn" style="margin-left:-10px;margin-right:10px"></i>
      <a th:href="@{/index}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Placement Portal</span>
      </a>
     
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

    
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Startups</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         
         <ul>   
          <li>
            <a th:href="@{/startup_onboarding}">
              <i class="bi bi-circle "></i><span>Onboarding</span>
            </a>
          </li>
           <li>
            <a th:href="@{/CompanyList}">
              <i class="bi bi-circle"></i><span>Startup List</span>
            </a>
          </li>
          <li>
            <a th:href="@{/jobopening}">
              <i class="bi bi-circle"></i><span>Job Posting</span>
            </a>
          </li>
          
        <li>
            <a th:href="@{/joblist/{companyid}(companyid=1)}">
              <i class="bi bi-circle"></i><span>Job List</span>
            </a>
          </li> 
          
          </ul>
        </ul>
        </li>
          
      
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Institute</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         
       <ul>
          <li>
            <a th:href="@{/institute_onboarding}">
              <i class="bi bi-circle"></i><span>Onboarding</span>
            </a>
          </li>

          <li>
            <a th:href="@{/candidate_registration}">
              <i class="bi bi-circle"></i><span>Candidate Form</span>
            </a>
          </li>
           <li>
            <a th:href="@{/CandidateList}">
              <i class="bi bi-circle"></i><span>Candidate List</span>
            </a>
          </li>
          
        </ul>
        </ul>
      </li>
      

      

 <li class="nav-heading">Pages</li>

     

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/register}">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/login}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

    </ul>

  </aside>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Institute</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Candidate Form</li>
        </ol>
      </nav>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Matching the Best</h5>

<!-- 
<form th:object="${candidate}" th:action="@{/updateCandidate}"  action="#" class="search-form" id="updatecandidate" name="updatecandidate" method="POST"> -->
        <!-- General Form Elements -->
        <form th:object="${candidate}" th:action="@{saveCandidate}"  action="#" class="search-form" id="onboarding" name="onboarding" method="POST">

          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label required">Candidate Name</label>
            <div class="col-sm-10">
              <input type="text" th:field="*{candidatename}" id="candidateName" name="candidatename" class="form-control " spellcheck="false" required>            
              <div id="candidateNameError" class="invalid-feedback">
                Please enter a valid candidate name.
              </div>           
            </div>
          </div>
          
           <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label required">Email</label>
            <div class="col-sm-10">
              <input type="email" th:field="*{email}" name="email" id="candidateEmail" class="form-control " spellcheck="false" required>            
              <div id="candidateEmailError" class="invalid-feedback">
                Please enter a valid candidate Email.
              </div>           
            </div>
          </div>
 

          <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">CV Upload</label>
            <div class="col-sm-10">
              <input type="file" th:field="*{cvupload}" id="cvUpload" name="cvupload" class="form-control" accept=".pdf,.doc,.docx,.rtf,.txt,.jpg" max-size="5000000">
              <div id="cvUploadError1" class="invalid-feedback">
                Please select a file.
              </div>
              <div id="cvUploadError2" class="invalid-feedback">
                Please select a valid file type for the CV.(pdf,doc,docx,txt,rtf,jpg)
              </div>
              <div id="cvUploadError3" class="invalid-feedback">
                The selected file is too large. Please select a file with a size smaller than 2MB.
              </div>
            </div>
          </div>
          
          

          <div class="row mb-3">
            <label for="fileUpload" class="col-sm-2 col-form-label">Any other relevant information</label>
            <div class="col-sm-10">
              <input type="file" th:field="*{otherrelevantupload}" id="fileUpload" name="otherrelevantupload" class="form-control" accept=".pdf,.doc,.docx,.rtf,.txt,.jpg,.jpeg,.zip,.rar" multiple max-size="4000000">
              <div id="fileUploadError" class="invalid-feedback"></div>
            </div>
          </div>
          


          <!--   Dynamic table  starts  here             -->

          <h5 class="card-title">Educational Details</h5>
  
         <div class="row mb-3">
  <table  style="font-size: 16px; font-family: Open Sans, sans-serif;">
    <thead>
      <tr>
        <th>Course</th>
        <th>Institute</th>
        <th>University</th>
        <th>Percentage</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="table_body">
      <tr>
        <td>
          <input type="text" name="Course[]" class="form-control" placeholder="Enter Course Name" style="font-size:0.9rem; color:black;">
        </td>
        <td>
          <input type="text" name="Institute[]" class="form-control" placeholder="Enter Institute Name" style="font-size:0.9rem;">
        </td>
        <td>
          <input type="text" name="University[]" class="form-control" placeholder="Enter University Name" style="font-size:0.9rem;">
        </td>
        <td>
          <input type="text" name="Percentage[]" class="form-control" placeholder="Enter Percentage Here" style="font-size:0.9rem;">
        </td>
        <td>
          <div class="action_container">
            <button class="btn btn-primary" style="height: 32px; text-align: center; padding-top: 3px;" onclick="create_tr('table_body')">ADD</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  



          <h5 class="card-title">Do it Right the First Time !</h5>

          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label required" >Core Area / Primary Skills</label>
            <div class="col-sm-10">
              <input type="text" th:field="*{primaryskills}" id="primarySkills" name="primaryskills" class="form-control" required>
              <div id="primarySkillError" class="invalid-feedback">invalid</div>
               
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Secondary Skills</label>
            <div class="col-sm-10">
              <input type="text" th:field="*{secondaryskills}" id="secondarySkills" name="secondaryskills" class="form-control">
              <div id="secondarySkillError" class="invalid-feedback">invalid</div>
            </div>
          </div>

          <fieldset class="row mb-3" >
            <legend class="col-form-label col-sm-2 pt-0 required">Experience</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" th:field="*{experience}" name="experience" type="radio"  id="gridRadios1" value="Yes" checked required>
                <label class="form-check-label" for="gridRadios1">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" th:field="*{experience}"name="experience" type="radio"  id="gridRadios2" value="No" required>
                <label class="form-check-label" for="gridRadios2">
                  No
                </label>
              </div>
            </div>
          </fieldset>


          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label required" >No. of Years of Work-Experience</label>
            <div class="col-sm-10">
              <input type="number" th:field="*{noofyearsworkex}" name="noofyearsworkex" class="form-control" min="0" max="55" value="0" required >
            </div>
          </div>


          <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label required" >Work Mode</label>
            <div class="col-sm-10">
              <select th:field="*{workmode}" class="form-select" name="workmode" aria-label="Default select example" required>
                <option value="" selected>-- select Work Mode --</option>
                <option value="Work From Home">Work From Home</option>
                <option value="Work From Office">Work From Office</option>
                <option value="Hybrid">Hybrid</option>
                      
                      
              </select>
            </div>
          </div>

          
          <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0 required" >Gender</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" th:field="*{gender}" type="radio" value="Male"required>
                      <label class="form-check-label" for="gridRadios2">
                        Male
                      </label>
                    </div>                  
                    <div class="form-check">
                      <input class="form-check-input" th:field="*{gender}"type="radio" value="Female">
                      <label class="form-check-label" for="gridRadios1">
                       Female
                      </label>
                    </div>
                  </div>
                  </fieldset>

          <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label required" >Candidate City</label>
            <div class="col-sm-10">
              <select th:field="*{candidatecity}" name="candidatecity" class="form-select" aria-label="Default select example" required>
                <option value="" selected>-- select Candidate City --</option>
                <option value="Local">Local</option>
                <option value="City">Other City</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label">IC or Manager</label>
            <div class="col-sm-10">
              <select th:field="*{icormanager}" name="icormanager" class="form-select" aria-label="Default select example">
                <option value="" selected>-- select IC / Manager --</option>
                <option value="IC">IC</option>
                <option value="Manager">Manager</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label required" >Interested in Job / Internship</label>
            <div class="col-sm-10">
              <select th:field="*{joborinternship}" name="joborinternship" class="form-select" aria-label="Default select example" required>
                <option value=""  selected>--select Job / Internship --</option>
                <option value="Job">Job</option>
                <option value="Internship">Internship</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label required" >Institute Name</label>
            <div class="col-sm-10">
              <select  class="form-select" name="institutename" aria-label="Default select example" required>
                <option value=""  selected>--select Institute Name --</option>
                <option th:each="institute : ${institutes}" th:value="${institute.instituteid}"
                    th:text="${institute.institutename}"></option>
              </select>
            </div>
          </div>

          <h5 class="card-title">Expectations (only for Laterals)</h5>
          <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label">CTC Fixed (INR LPA)</label>
            <div class="col-sm-10">
              <select th:field="*{ctcfixed}" name="ctcfixed" class="form-select" aria-label="Default select example">
                <option value=""  selected>--select CTC Fixed (INR LPA) --</option>
                <option value="2 LPA to 4 LPA">2 LPA to 4 LPA</option>
                <option value="5 LPA to 10 LPA">5 LPA to 10 LPA</option>
                <option value="12 LPA to 25 LPA">12 LPA to 25 LPA</option>
                <option value="25 LPA and above">25 LPA and above</option>
              </select>
            </div>
          </div>



          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label"> CTC Variable (INR LPA)</label>
            <div class="col-sm-10">
              <input th:field="*{ctcvariable}" type="text" id="ctcVariable" name="ctcvariable" class="form-control" >
              <div id="ctcVariableError" class="invalid-feedback">invalid</div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">CTC Total (INR LPA)</label>
            <div class="col-sm-10">
              <input th:field="*{ctctotal}" name="ctctotal" type="text" id="ctcTotal" class="form-control" >
              <div id="ctcTotalError" class="invalid-feedback">invalid</div>
            </div>
          </div>


          <div class="row mb-3">
            <div class="col-sm-10" style="text-align: center;margin-top:30px;">
              <button type="submit" class="btn btn-primary" style=" margin-left: 50px;">Save</button>
              <button type="reset" class="btn btn-secondary">Clear</button>
            </div>
          </div>

        </form><!-- End General Form Elements -->

      </div>
    </div>

  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
	<script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendor/chart.js/chart.umd.js}"></script>
	<script th:src="@{/vendor/echarts/echarts.min.js}"></script>
	<script th:src="@{/vendor/quill/quill.min.js}"></script>
	<script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
	<script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/vendor/php-email-form/validate.js}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/main.js}"></script>
	
	
	<script>       
//santosh's Candidate form validation



//----------------------for spell check
const inp = document.body.appendChild(document.createElement('input'));
inp.autocomplete = "off";
inp.setAttribute('spellcheck', 'false');//---------------spell check ends




//--------------------validate Candidate name (with numbers)
var nameInput = document.getElementById("candidateName");
//Add an event listener to the name input field
nameInput.addEventListener("input", validateCompayName);
function validateCompayName() {
	//console.log("validate Candidate called");
 var name = document.getElementById("candidateName").value;
 var nameRegex =/^[a-zA-Z\ \s]*$/;
 var candidateNameError = document.getElementById("candidateNameError");
 if (!nameRegex.test(name)) {
//   alert("Please enter a valid candidate name.");
candidateNameError.style.display = "block";
   return false;
 } else {
   candidateNameError.style.display = "none";
   return true;
 }
}//-----------------------------end of validate Candidate name



//--------------------validate Candidate Email 
var emailInput = document.getElementById("candidateEmail");
emailInput.addEventListener("input", validateCompayEmail);
function validateCompayEmail() {
	//console.log("validate Candidate called");
 var email = document.getElementById("candidateEmail").value;
 var emailRegex =/^[\w\.-]+@[a-zA-Z\d\.-]+\.[a-zA-Z]{2,}$/;
 var candidateEmailError = document.getElementById("candidateEmailError");
 if (!emailRegex.test(email)) {
candidateEmailError.style.display = "block";
   return false;
 } else {
   candidateEmailError.style.display = "none";
   return true;
 }
}//-----------------------------end of validate Candidate Email


//---------------------------------validate CV UPload
//Get the file input element
const cvInput = document.getElementById('cvUpload');
//Add an event listener to the file input element
cvInput.addEventListener('change', (event) => {
 // Get the selected file from the input element
 const file = event.target.files[0];

 // Define the allowed file extensions
 const allowedExtensions = /(\.pdf|\.doc|\.docx|\.txt|\.rtf|\.jpg)$/i;

 // Clear all error messages
 document.getElementById("cvUploadError1").style.display = "none";
 document.getElementById("cvUploadError2").style.display = "none";
 document.getElementById("cvUploadError3").style.display = "none";

 // Validate the file
 if (!file) {
   // Display the "Please select a file." error message
   var cvUploadError1 = document.getElementById("cvUploadError1");
   cvUploadError1.style.display = "block";
   cvInput.value = '';
   return;
 } else if (!allowedExtensions.test(file.name)) {
   // Display the "Please select a valid file type for the CV." error message
   var cvUploadError2 = document.getElementById("cvUploadError2");
   cvUploadError2.style.display = "block";
   cvInput.value = '';
   return;
 } else if (file.size > 2000000) {
   // Display the "The selected file is too large." error message
   var cvUploadError3 = document.getElementById("cvUploadError3");
   cvUploadError3.style.display = "block";
   cvInput.value = '';
   return;
 }
});//---------------------- end validate CV UPload




//---------------------- validate Any other relevant information 

const fileInput = document.getElementById('fileUpload');
const allowedExtensions = /(\.pdf|\.doc|\.docx|\.txt|\.rtf|\.jpg|\.jpeg|\.zip|\.rar)$/i;

fileInput.addEventListener('change', (event) => {
 const files = event.target.files;
 
 document.getElementById('fileUploadError').style.display = 'none';
 // Validate each file
 for (let i = 0; i < files.length; i++) {
   const file = files[i];
   if (!file) {
     showError('Please select a file.');
     return;
   }
   if (!allowedExtensions.test(file.name)) {
     showError('Please select a valid file type for the CV.(pdf,doc,docx,txt,rtf,jpg)');
     return;
   }
   if (file.size > 4000000) {
     showError('The selected file is too large. Please select a file with a size smaller than 2MB.');
     return;
   }
 }
});
function showError(message) {
 document.getElementById('fileUploadError').textContent = message;
 document.getElementById('fileUploadError').style.display = 'block';
 fileInput.value = '';
}//---------------------- validate Any other relevant information ENDS




//--------------------validate Primary Skills
var nameInput = document.getElementById("primarySkills");
nameInput.addEventListener("input", validatePrimarySkill);
function validatePrimarySkill() {
 var name = document.getElementById("primarySkills").value;
 var nameRegex =/^[A-Za-z\s]+(?:,\s*[A-Za-z\s]+)*,?\s*$/i;
 var primarySkillError = document.getElementById("primarySkillError");
 if (name.trim() === "") {  
   primarySkillError.style.display = "none"; 
   return true; 
 } else if (!nameRegex.test(name)) { 
   primarySkillError.style.display = "block";  
   return false; 
 } else {
   primarySkillError.style.display = "none";  
   return true; 
 }
}//------------------------end of validate Primary Skills





//--------------------validate Secondary Skills
var nameInput = document.getElementById("secondarySkills");
nameInput.addEventListener("input", validateSecondarySkill);

function validateSecondarySkill() {
 var name = document.getElementById("secondarySkills").value;
 var nameRegex = /^[A-Za-z\s]+(?:,\s*[A-Za-z\s]+)*,?\s*$/i;
 var secondarySkillError = document.getElementById("secondarySkillError");
 if (name.trim() === "") {  
   secondarySkillError.style.display = "none"; 
   return true; 
 } else if (!nameRegex.test(name)) { 
   secondarySkillError.style.display = "block";  
   return false; 
 } else {
   secondarySkillError.style.display = "none";  
   return true; 
 }
}//------------------------end of validate Secondary Skills



//--------------------validate CTC Variable (INR LPA)
var nameInput = document.getElementById("ctcVariable");
nameInput.addEventListener("input", validateCtcVariable);

function validateCtcVariable() {
 var name = document.getElementById("ctcVariable").value;
 var nameRegex = /^[\d.,]*$/;
 var ctcVariableError = document.getElementById("ctcVariableError");
 if (name.trim() === "") {  
   ctcVariableError.style.display = "none"; 
   return true; 
 } else if (!nameRegex.test(name)) { 
   ctcVariableError.style.display = "block";  
   return false; 
 } else {
   ctcVariableError.style.display = "none";  
   return true; 
 }
}//------------------------end of validate CTC Variable (INR LPA)




//--------------------validate CTC Total (INR LPA)
var nameInput = document.getElementById("ctcTotal");
nameInput.addEventListener("input", validateCtcTotal);

function validateCtcTotal() {
 var name = document.getElementById("ctcTotal").value;
 var nameRegex = /^[\d.,]*$/;
 var ctcTotalError = document.getElementById("ctcTotalError");
 if (name.trim() === "") {  
   ctcTotalError.style.display = "none"; 
   return true; 
 } else if (!nameRegex.test(name)) { 
   ctcTotalError.style.display = "block";  
   return false; 
 } else {
   ctcTotalError.style.display = "none";  
   return true; 
 }
}//------------------------end of validate CTC Total (INR LPA)




//-----------------------------------------Dynamic table starts here
function create_tr(table_id) {
	  let table_body = document.getElementById(table_id),
	      first_tr = table_body.firstElementChild,
	      tr_clone = document.createElement('tr');

	  let children = first_tr.children;
	  children = Array.isArray(children) ? children : Object.values(children);

	  children.forEach((child, index) => {
	    if (index !== children.length - 1) {
	      const inputValue = child.firstElementChild.value;
	      const td = document.createElement('td');
	      const input = document.createElement('input');
	      input.type = "text";
	      input.name = `${child.firstElementChild.name.replace("[]", "")}[]`;
	      input.className = "form-control";
	      input.placeholder = child.firstElementChild.placeholder;
	      input.style.fontSize = "0.9rem";
	      input.value = inputValue;
	      td.appendChild(input);
	      tr_clone.appendChild(td);

	      // Reset input value in the first row after adding a new row
	      child.firstElementChild.value = '';
	    } else {
	      const actionCell = document.createElement('td');
	      const deleteButton = document.createElement("button");
	      deleteButton.textContent = "DEL";
	      deleteButton.className = "btn btn-primary";
	      deleteButton.style.height = "32px";
	      deleteButton.style.width = "62px";
	      deleteButton.style.textAlign = "center";
	      deleteButton.style.paddingTop = "3px";
	      deleteButton.onclick = function () {
	        remove_tr(tr_clone);
	      };
	      actionCell.appendChild(deleteButton);
	      tr_clone.appendChild(actionCell);
	    }
	  });

	  table_body.append(tr_clone);
	  clean_first_tr(first_tr);
	}

	function remove_tr(row) {
	  let tbody = row.closest('tbody');
	  if (tbody.childElementCount === 1) {
	    alert("You Don't have Permission to Delete This ?");
	  } else {
	    row.remove();
	  }
	}//--------------------------------Dynamic table ends here



 </script>     
	

</body>

</html>