<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Placement Portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 
<link th:href="@{/img/favicon.png}" rel="icon">
<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
	rel="stylesheet">
<link th:href="@{/vendor/boxicons/css/boxicons.min.css}"
	rel="stylesheet">
<link th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
<link th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
<link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
<link th:href="@{/vendor/simple-datatables/style.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Template Main CSS File -->
<link th:href="@{/css/style.css}" rel="stylesheet">

<!-- Fontawesome CDN Link -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<!-- Iconscout Link For Icons -->
<link rel="stylesheet"
	href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
 <div class="d-flex align-items-center justify-content-between">
     <i class="bi bi-list toggle-sidebar-btn" style="margin-left:-10px;margin-right:10px"></i>
      <a th:href="@{/index}" class="logo d-flex align-items-center">
        <img src="/img/logo.png" alt="">
        <span class="d-none d-lg-block">Placement Portal</span>
      </a>
     
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

    
    

    
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Startups</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         
         <ul>   
          <li>
            <a th:href="@{/startup_onboarding}">
              <i class="bi bi-circle "></i><span>Onboarding</span>
            </a>
          </li>
       	   <li>
            <a th:href="@{/CompanyList}">
              <i class="bi bi-circle"></i><span>Startup List</span>
            </a>
          </li>
          <li>
            <a th:href="@{/jobopening}">
              <i class="bi bi-circle"></i><span>Job Posting</span>
            </a>
          </li>
          
           <li>
            <a th:href="@{/joblist/{companyid}(companyid=1)}">
              <i class="bi bi-circle"></i><span>Job List</span>
            </a>
          </li>  
          
          </ul>
        </ul>
        </li>
  
    </ul>

  </aside>


  <main id="main" class="main">
<div class="pagetitle">

    <div class="pagetitle">
      <h1>Startup</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Update Startup Form</li>
        </ol>
      </nav>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Who's who!</h5>
        <!-- General Form Elements -->
        
        <form th:object="${job}" th:action="@{/updatePosition}"  action="#" class="search-form" id="updatePosition" name="updatePosition" method="POST" >
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label required">Company Name</label>
                                <div class="col-sm-10">
                                    <input type="text" th:field="*{position}" class="form-control" id="position" name="position"
                                        required>
                                    <div id="positionError" class="invalid-feedback">
                                        Please enter a valid company name.
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label required">Designation<span class=""></span></label>
                                <div class="col-sm-7">
                                    <input type="text" th:field="*{designation}" class="form-control" id="designation" name="designation" required>
                                       
                                    <div id="designationError" class="invalid-feedback">
                                        Please enter a valid designation.
                                    </div>
                                </div>
                            </div> 
                            
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label required">Function<span class=""></span></label>
                                <div class="col-sm-7">
                                    <input type="text" th:field="*{functions}" class="form-control" id="functions" name="functions" required>
                                       
                                    <div id="functionError" class="invalid-feedback">
                                        Please enter a valid function.
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label required">Department<span class=""></span></label>
                                <div class="col-sm-7">
                                    <input type="text" th:field="*{department}" class="form-control"  id="department" name="department" required>
                                        
                                    <div id="departmentError" class="invalid-feedback">
                                        Please enter a valid department.
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label required">Country</label>
                                <div class="col-sm-10">
                                <input type="text" th:field="*{country}" class="form-select" id="country-dropdown" name="country-dropdown">
                                <select th:value="*{country}" class="form-select" aria-label="Default select example" id="country-dropdown"
                                        name="country-dropdown">
                                        <option value="" disabled selected>-- Please select country --</option>
                                    </select>
                                    </div>
                                    </div>
<!--                                    
            
<!--  </select>  -->
<!-- <input type="text" th:field="*{country}" class="form-control" id="country-dropdown" name="country-dropdown" required> -->
    
<!--     Dropdown for updating country name -->
<!--     <select th:value="*{country}" class="form-control" id="country-dropdown" name="country-dropdown"> -->
<!--         <option value="" disabled selected>Select a country</option> -->
        
        
   
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label required">State</label>
                                <div class="col-sm-10">
                                    <select th:field="*{state}" class="form-select" aria-label="Default select example" id="state-Dropdown"
                                        name="state-Dropdown" required>
                                        <option value="" disabled selected>-- Please select state --</option>
                                    </select>
                                </div>
                            </div>
                             <div class="row mb-3">
                                <label class="col-sm-2 col-form-label required">City</label>
                                <div class="col-sm-10">
                                    <select th:field="*{city}" class="form-select" aria-label="Default select example" id="city-Dropdown"
                                        name="city-Dropdown" required>
                                        <option value="" disabled selected>-- Please select city --</option>
                                    </select>
                     
                                </div>
                            </div>
                            
                             <h5 class="card-title">Do it Right the First Time!</h5>
                            
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label required">Core Area<span class=""></span></label>
                                <div class="col-sm-7">
                                    <input type="text" th:field="*{corearea}" class="form-control" id="corearea" name="corearea">
                                    <div id="coreareaError" class="invalid-feedback">
                                        Please enter a valid Core Area.
                                    </div>
                                </div>
                            </div>
		              
		                    <div class="row mb-3">
                  <label class="col-sm-2 col-form-label required">Work Experience</label>
                  <div class="col-sm-4">
                    <select th:field="*{noworkexperience}" class="form-select" aria-label="Default select example" name="noworkexperience">
<!--                       <option value="" disabled selected>-- Please select Range --</option> -->
                      <option value="1">0-2</option>
                      <option value="2">2-4</option>
                      <option value="3">4-6</option>
                      <option value="4">6-8</option>
                      <option value="5">8-10</option>
                      <option value="6">10-12</option>
                      <option value="7">12-14</option>
                      <option value="8">14-16</option>
                      <option value="9">16-18</option>
                      <option value="10">18-20</option>
                      <option value="11">20-22</option>
                      <option value="12">22-24</option>
                      <option value="13">24-26</option>
                      <option value="14">26-28</option>
                      <option value="15">28-30</option>
                      <option value="16">30-32</option>
                      <option value="17">32-34</option>
                         
                    </select>
                  </div>
                </div>
		              
		              <div class="row mb-3">
                  <label class="col-sm-2 col-form-label required">Work Mode</label>
                  <div class="col-sm-4">
                    <select th:field="*{workmode}" class="form-select" aria-label="Default select example" id="workmode" name="workmode">
                      <option value="" disabled selected>-- Please select Work mode --</option>
                      <option value="Work From Home">Work From Home</option>
                      <option value="Work From Office">Work From Office</option>
                      <option value="Hybrid">Hybrid</option>
                    </select>
                  </div>
                </div>
		              
		              <div class="row mb-3">
                  <label class="col-sm-2 col-form-label required">Local Candidate<span class=""></span></label>
                  <div class="col-sm-4">
                    <select th:field="*{localcandidate}" class="form-select" aria-label="Default select example" id="localcandidate" name="localcandidate">
<!--                       <option selected>--select Yes/No--</option> -->
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                      </select>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">IC or Team Handling</label>
                  <div class="col-sm-4">
                    <select th:field="*{icteamhandling}" class="form-select" aria-label="Default select example" id="icteamhandling" name="icteamhandling" >
<!--                       <option selected>--select--</option> -->
                      <option value="1">IC</option>
                      <option value="2">Team Handling</option>
                      
                    </select>
                  </div>
                </div>
                
                <h5 class="card-title">Money Matter Matters!</h5>
                
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Stipend(INR)</label>
                  <div class="col-sm-7">
                    <select th:field="*{stipend}" class="form-select" aria-label="Default select example" id="stipend" name="stipend">
<!--                      <option value="" disabled selected>-- Please select Stipend within the range --</option> -->
                                      <option value="1">
		                                  1,00,000-2,00,000</option>
		                              <option value="2">
		                                  2,00,000-4,00,000</option>
		                              <option value="3">
		                                  4,00,000-6,00,000</option>
		               </select>
                   </div>
                   </div>
                
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">CTC Variable</label>
                  <div class="col-sm-7">
                    <select th:field="*{ctcvariable}" class="form-select" aria-label="Default select example" id="ctcvariable" name="ctcvariable">
<!--                      <option value="" disabled selected>--Please select CTC Variable--</option> -->
                      <option value="1">
		                                  1,00,000-2,00,000</option>
		                              <option value="2">
		                                  2,00,000-4,00,000</option>
		                              <option value="3">
		                                  4,00,000-6,00,000</option>
		                          </select>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label required">Any notable perks<span class=""></span></label>
                  <div class="col-sm-10">
                    <input type="text" th:field="*{anynotableperk}" class="form-control" id="anynotableperk" name="anynotableperk">
                    <div id="anynotableperkError" class="invalid-feedback">
                                        Please enter a valid notable perk.
                    </div>
                  </div>
                </div>
                
                 
          <h5 class="card-title">Single Version of Truth to Align 100%</h5>

                <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label required">Job Description<span class=""></span></label>
                                <div class="col-sm-10">
<!--                                     <input type="text" th:field="*{description}" class="form-control" id="description" name="description"> -->
                                    <textarea th:field="*{description}" class="form-control" id="description" name="description" rows="2" required></textarea>
                                    <div id="descriptionError" class="invalid-feedback">
                                        Please enter a valid Job Description.
                                    </div>
                                </div>
                            </div>
                
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">Any other relevant file</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="file" id="releventfile" name="relevantfile" accept=".pdf, .doc, .docx, .txt, .jpg, .jpeg, .png" maxlength="2097152">
                 <small class="form-text text-muted">Maximum file size: 2 MB (.pdf,.doc,.docx,.txt,.jpg,.jpeg,.png allowed)</small>
                  <div id="releventfileSizeError" class="invalid-feedback">
                  File size is too large. Maximum file size is 2 MB.
                                </div>
                                <div id="releventfileTypeError" class="invalid-feedback">
                                        Invalid file type. Allowed file types are: pdf, doc, docx, txt, jpg, jpeg, png.
                                </div>
                   </div>
                   </div>
                
                <div class="row mb-3">
		                      <label for="inputText" class="col-sm-2 col-form-label">Any Relevant link </label>
		                      <div class="col-sm-8">
		                          <input th:field="*{anyrelevantlink}" type="url" class="form-control" id="anyrelevantlink" name="anyrelevantlink">
		                          <div id="anyrelevantlinkError" class="invalid-feedback">
		                              Please enter a valid link.
		                          </div>
		                      </div>
		                  </div>
		        
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label required">Job/Internship<span class=""></span></label>
                  <div class="col-sm-6">
                    <select th:field="*{positiontype}" class="form-select" aria-label="Default select example" id="positiontype" name="positiontype">
<!--                       <option selected>--Select Option--</option> -->
                      <option value="Job">Job</option>
                      <option value="Internship">Internship</option>
                    </select>
                  </div>
                  </div>
                  
                  <div class="row mb-3 d-none"><!-- to hide field d-none -->
		                      <label for="inputPassword" class="col-sm-2 col-form-label required">CompanyID</label>
		                      <div class="col-sm-10">
		                          <input type="text" id="companyId" value="100" class="form-control" readonly>
		                      </div>
		                  </div>
		                  <div class="row mb-3 d-none"><!-- to hide field d-none -->
		                      <label for="inputPassword" class="col-sm-2 col-form-label required">Position ID</label>
		                      <div class="col-sm-10">
		                          <input type="text" id="companyId" value="100" th:field="*{positionid}" class="form-control" readonly>
		                      </div>
		                  </div>
		                  <div class="d-flex justify-content-center mt-5">
					 <button type="submit" class="btn btn-primary">Save</button>
					  <button type="submit" class="btn btn-primary mx-5" id="resetForm" onclick="resetForm()">Reset</button>
					</div>
                    </form><!-- End General Form Elements --><!-- End General Form Elements -->
                    <br>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
                    
</div>
</div>
</div>
    </main>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
	<script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendor/chart.js/chart.umd.js}"></script>
	<script th:src="@{/vendor/echarts/echarts.min.js}"></script>
	<script th:src="@{/vendor/quill/quill.min.js}"></script>
	<script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
	<script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/vendor/php-email-form/validate.js}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/main.js}"></script>

</body>

</html>