<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Placement Portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

 
<link th:href="@{/img/favicon.png}" rel="icon">
<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
	rel="stylesheet">
<link th:href="@{/vendor/boxicons/css/boxicons.min.css}"
	rel="stylesheet">
<link th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
<link th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
<link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
<link th:href="@{/vendor/simple-datatables/style.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Template Main CSS File -->
<link th:href="@{/css/style.css}" rel="stylesheet">

<!-- Fontawesome CDN Link -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<!-- Iconscout Link For Icons -->
<link rel="stylesheet"
	href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
     <i class="bi bi-list toggle-sidebar-btn" style="margin-left:-10px;margin-right:10px"></i>
      <a th:href="@{/index}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Placement Portal</span>
      </a>
     
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

    
    

    
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Startups</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         
         <ul>   
          <li>
            <a th:href="@{/startup_onboarding}">
              <i class="bi bi-circle "></i><span>Onboarding</span>
            </a>
          </li>
       	   <li>
            <a th:href="@{/CompanyList}">
              <i class="bi bi-circle"></i><span>Startup List</span>
            </a>
          </li>
          <li>
            <a th:href="@{/jobopening}">
              <i class="bi bi-circle"></i><span>Job Posting</span>
            </a>
          </li>
          
            <li>
            <a th:href="@{/joblist/{companyid}(companyid=3)}">
              <i class="bi bi-circle"></i><span>Job List</span>
            </a>
          </li>  
          
          </ul>
        </ul>
        </li>
          
      
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Institute</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         
       <ul>
          <li>
            <a th:href="@{/institute_onboarding}">
              <i class="bi bi-circle"></i><span>Onboarding</span>
            </a>
          </li>

          <li>
            <a th:href="@{/candidate_registration}">
              <i class="bi bi-circle"></i><span>Candidate Form</span>
            </a>
          </li>
         
         <li>
            <a th:href="@{/CandidateList}">
              <i class="bi bi-circle"></i><span>Candidate List</span>
            </a>
          </li>
  
        </ul>
        </ul>
      </li>
      

      

 <li class="nav-heading">Pages</li>

     

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/register}">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/login}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

    </ul>

  </aside>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Institute</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Candidate Form</li>
        </ol>
      </nav>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Matching the Best</h5>


        <!-- General Form Elements -->
        

    
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label required">Candidate Name</label>
            <div class="col-sm-10">
              <input type="text" th:value="${candidate.candidatename}" id="candidateName" name="candidatename" class="form-control "  readonly>            
              <div id="candidateNameError" class="invalid-feedback">
                Please enter a valid candidate name.
              </div>           
            </div>
          </div>
          
           <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label required">Email</label>
            <div class="col-sm-10">
              <input type="email" th:value="${candidate.email}" name="email" id="candidateEmail" class="form-control "  readonly>            
              <div id="candidateEmailError" class="invalid-feedback">
                Please enter a valid candidate Email.
              </div>           
            </div>
          </div>
 

          <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">CV Upload</label>
            <div class="col-lx-3 col-lg-3 label"style="width:250px;font-weight:600"><a class="btn btn-primary"
              th:href="@{/cvdownload/{candidateid}(candidateid=${candidate.candidateid})}"
              style="height:30px;  padding-top: 2px; font-size: 16px;">CV Download</a></div>
          </div>
          
          

          <div class="row mb-3">
            <label for="fileUpload" class="col-sm-2 col-form-label">Any other relevant information</label>
            <div class="col-lx-3 col-lg-3 label"style="width:250px;font-weight:600"><a class="btn btn-primary"
              th:href="@{/cvdownload/{candidateid}(candidateid=${candidate.candidateid})}"
              style=" height:30px;  padding-top: 2px; font-size: 16px;">Download other Files</a></div>
          </div>
          


          <!--   Dynamic table  starts  here             -->
         


          <h5 class="card-title required">Educational Details</h5>
  
         <div class="row mb-3">
<input type="hidden"  id="educationalDetailsJson" name="educationalDetailsJson">         
  <table  style="font-size: 16px; font-family: Open Sans, sans-serif;">
    <thead>
      <tr>
        <th>Course</th>
        <th>Institute</th>
        <th>University</th>
        <th>Percentage</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="table_body">
      <tr>
        <td>
          <input type="text" name="Course[]" class="form-control" placeholder="Enter Course Name" style="font-size:0.9rem; color:black;">
        </td>
        <td>
          <input type="text" name="Institute[]" class="form-control" placeholder="Enter Institute Name" style="font-size:0.9rem;">
        </td>
        <td>
          <input type="text" name="University[]" class="form-control" placeholder="Enter University Name" style="font-size:0.9rem;">
        </td>
        <td>
          <input type="text" name="Percentage[]" class="form-control" placeholder="Enter Percentage Here" style="font-size:0.9rem;">
        </td>
        <td>
          <div class="action_container">
            <button class="btn btn-primary" style="height: 32px; text-align: center; padding-top: 3px;" onclick="create_tr('table_body')">ADD</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  



          <h5 class="card-title">Do it Right the First Time !</h5>

          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label required" >Core Area / Primary Skills</label>
            <div class="col-sm-10">
              <input type="text"  id="primarySkills" th:value="${candidate.primaryskills}" name="primaryskills" class="form-control" readonly >
               
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Secondary Skills</label>
            <div class="col-sm-10">
              <input type="text"  id="secondarySkills" th:value="${candidate.secondaryskills}" name="secondaryskills" class="form-control"readonly>
            </div>
          </div>

           <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Experience</label>
            <div class="col-sm-10">
              <input type="text"  id="experience" th:value="${candidate.experience}" name="experience" class="form-control"readonly>
            </div>
          </div>


          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label required" >No. of Years of Work-Experience</label>
            <div class="col-sm-10">
              <input type="number"  name="noofyearsworkex"th:value="${candidate.noofyearsworkex}"  class="form-control" readonly>
            </div>
          </div>


 			<div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label required" >Work Mode</label>
            <div class="col-sm-10">
              <input type="text" name="workmode" th:value="${candidate.workmode}"  class="form-control" readonly>
            </div>
          </div>

         

 			<div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label required" >Gender</label>
            <div class="col-sm-10">
              <input type="text" name="gender" th:value="${candidate.gender}"  class="form-control"readonly >
            </div>
          </div>
          
          
 			<div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label required" >Candidate City</label>
            <div class="col-sm-10">
              <input type="text" name="candidatecity" th:value="${candidate.candidatecity}"  class="form-control" readonly>
            </div>
          </div>
          


	<div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label">IC or Manager</label>
            <div class="col-sm-10">
              <input type="text" name="icormanager" th:value="${candidate.icormanager}"  class="form-control" readonly>
            </div>
          </div>
          
        

          <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label required" >Interested in Job / Internship</label>
            <div class="col-sm-10">
              <input type="text" name="joborinternship" th:value="${candidate.joborinternship}"  class="form-control" readonly>

            </div>
          </div>



          <h5 class="card-title">Expectations (only for Laterals)</h5>
          <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label">CTC Fixed (INR LPA)</label>
            <div class="col-sm-10">
                 <input type="text" name="ctcfixed" th:value="${candidate.ctcfixed}"  class="form-control" readonly>
            </div>
          </div>



          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label"> CTC Variable (INR LPA)</label>
            <div class="col-sm-10">
                 <input type="text" name="ctcvariable" th:value="${candidate.ctcvariable}"  class="form-control" readonly>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">CTC Total (INR LPA)</label>
            <div class="col-sm-10">
		     <input type="text" name="ctctotal" th:value="${candidate.ctctotal}"  class="form-control" readonly>

            </div>
          </div>

		    <div class="row mb-3 d-none"><!-- to hide field d-none -->
		        <label for="inputPassword" class="col-sm-2 col-form-label required">CandidateID</label>
		        <div class="col-sm-10">
		            <input type="text" id="candidateId"   class="form-control" readonly>
		        </div>
		    </div>
		    <div class="row mb-3 d-none"><!-- to hide field d-none -->
		        <label for="inputPassword" class="col-sm-2 col-form-label required">CandidateID</label>
		        <div class="col-sm-10">
		            <input type="text" id="candidateId"  class="form-control" readonly>
		        </div>
		    </div>

        


        </form><!-- End General Form Elements -->

      </div>
    </div>

  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
	<script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendor/chart.js/chart.umd.js}"></script>
	<script th:src="@{/vendor/echarts/echarts.min.js}"></script>
	<script th:src="@{/vendor/quill/quill.min.js}"></script>
	<script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
	<script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/vendor/php-email-form/validate.js}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/main.js}"></script>

</body>

</html>